<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="styleComment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <div class="post-container">
        <div class="profile-i">
            <img src="/uploads/profileImages/<%= post.User_ID.userPhoto %>" alt="<%= post.User_ID.username %>">
            <div class="username">
                <%= post.User_ID.username %>
            </div>
        </div>
        <div class="post">
            <div class="post-img">
                <img src="/uploads/posts/<%= post.Content_URL %>" alt="<%= post.User_ID.username %>'s Post">
            </div>
            <div class="post-actions">
                <a href="/like/<%= post._id %>" id="like-btn">
                    <i class="fas fa-heart"><%= post.Like_Count %></i>
                </a>
            </div>
            <div class="post-description">
                <p>Descrpition : <%= post.Content_Description %>
                </p>
            </div>

            <div class="comments-section">
                <h2>Comments</h2>
                <% comments.forEach(comment=> { %>
                    <div class="comment" id="comment-<%= comment._id %>">
                        <p>
                            <%= comment.User_ID.username %>: <%= comment.Comment_Description %>
                        </p>
                    </div>
                    <% }); %>
            </div>

            <div class="new-comment">
                <form action="/comment/create" method="post">

                    <input type="text" id="Comment_Description" name="Comment_Description" placeholder="Enter comment">

                    <input type="hidden" name="Content_ID" value="<%= post._id %>">

                    <button id="send-comment-btn" type="submit">Send</button>
                </form>
            </div>
        </div>

    </div>

</body>

</html>