<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="stylesheet" href="styleEvent.css">
</head>

<body>

    <header>
        <div class="search-container">
            <div class="search-icon">🔍</div>
            <input type="text" placeholder="Search An Event...">
        </div>
    </header>

    <section class="event-list">
        <% myEvents.forEach(event=> { %>
            <div class="event-item">
                <div class="event-details">
                    <img class="event-image" src="/uploads/profileImages/<%= user.userPhoto %>"
                        alt="<%= event.User_ID.username %>">
                    <div class="user-name">
                        <%= user.username %>
                    </div>
                    <div class="event-name">
                        <%= event.Event_Name %>
                    </div>
                    <div class="event-info">
                        <span class="prize-money">Prize Money: ₹<%= event.Price %></span>
                        <span class="event-date">Start Date: <%= event.Event_Start_Date.toISOString().split('T')[0] %>
                                </span>
                        <span class="event-date">End Date: <%= event.Event_End_Date.toISOString().split('T')[0] %>
                                </span>
                    </div>

                    <p>Registration Link : <a href="<%= event.Registration_Link %>" target="_blank">
                            Join Now
                        </a></p>
                    <a href="#" class="a1" onclick="window.location.href = '/events/edit/<%= event._id %>';">
                        <i class="fas fa-search"></i> Edit </a>
                    <a href="#" class="a1" onclick="window.location.href = '/events/delete/<%= event._id %>';">
                        <i class="fas fa-search"></i> Delete </a>
                </div>
            </div>
            <% }); %>
    </section>

</body>

</html>