<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="styleProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <div class="profile-container">
        <div class="profile-header">
            <img src="/uploads/profileImages/<%= user.userPhoto %>" alt="Profile Picture">
            <div class="profile-info">
                <h1 id="usrname">
                    <%= user.username %>
                </h1>
                <div class="usertype">
                    <p>
                        <%= user.accountType %>
                    </p>
                </div>
                <div class="counts" style="width: 90%;">
                    <table>
                        <tr>
                            <th class="Followers" id="data">
                                <a href="/follow/getFollowers %>">Followers: <%= user.followersCount %></a>
                            </th>
                            <th class="Followers" id="data">
                                <a href="/follow/getFollowing %>">Following: <%= user.followingCount %></a>
                            </th>
                            <th class="Post" id="data">Post: <%= user.postCount %>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="multiline-text">
            <label id="ach"><b>Achievement bio:</b>
                <%= user.bio %>
            </label><br><br>
            <label id="req"><b>Requirements:</b>
                <%= user.requirements %>
            </label><br><br>
        </div>

        <div class="npost">
            <a href="/post/new" id="newPostButton">+ New Post</a>
            <a href="/follow/getRequests" id="newPostButton">+ Follow Requests</a>
        </div>

        <div class="profile-container">
            <h2># PROFILE GRID</h2>
        </div>

        <div class="posts">
            <% userPosts.forEach(post=> { %>
                <div class="profile-container">
                    <div class="profile-i">
                        <img src="/uploads/profileImages/<%= user.userPhoto %>" alt="<%= user.username %>">
                        <div class="username">
                            <%= user.username %>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-img">
                            <img src="/uploads/posts/<%= post.Content_URL %>" alt="<%= user.username %>'s Post">
                        </div>
                        <div class="post-actions">
                            <i class="fas fa-heart" id="like" onclick="likePost(this)"></i>
                            <i class="fas fa-comment" onclick="commentPost(this)"></i>
                            <a href="#" class="delete-btn"
                                onclick="window.location.href ='/post/delete/<%= post._id %>';">
                                <i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

        <script>
            function likePost(icon) {
                // Toggle the 'liked' class to change the color
                icon.classList.toggle('liked');
                console.log("Liked post");
            }

            function commentPost(icon) {
                console.log("Commented on post");
            }
        </script>

</body>

</html>